.bg__movie {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #32908e;
  z-index: 1;
  &--1 {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #2284b0;
    opacity: 0.5;
    clip-path: polygon(0 25%, 100% 10%, 100% 100%, 0% 100%);
    z-index: 2;
  }
  &--2 {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #2284b0;
    opacity: 0.7;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    z-index: 3;
  }
  &--3 {
    position: absolute;
    width: 100%;
    height: 400px;
  }
}

.bg_tokyo {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #2284b0;
  z-index: 1;
  &--1 {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #2269b0;
    opacity: 0.5;
    clip-path: polygon(0 14%, 100% 46%, 100% 100%, 0% 100%);
    z-index: 2;
  }
  &--2 {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #2269b0;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
    opacity: 0.7;
    z-index: 3;
  }
  &--3 {
    position: absolute;
    width: 100%;
    height: 400px;
  }
}

.bg_speaker {
  position: relative;
  width: 100%;
  height: 2000px;
  background-color: #1e8864;
  z-index: 1;
  &--1 {
    position: absolute;
    width: 100%;
    height: 2000px;
    opacity: 0.6;
    background-color: #32908e;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
  }
  &--2 {
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: #32908e;
    opacity: 50%;
    clip-path: polygon(0 3%, 336% 34%, 100% 100%, 0% 100%);
    z-index: 3;
  }
  &--3 {
    position: absolute;
    width: 277px;
    height: 554px;
    background-color: #32908e;
    opacity: 0.5;
    top: 27%;
    clip-path: polygon(36% 0, 100% 50%, 36% 100%, 0 100%, 0 0);
    z-index: 3;
  }
  &--4 {
    position: absolute;
    width: 174px;
    height: 400px;
    background-color: #32908e;
    opacity: 0.8;
    top: 65%;
    clip-path: polygon(100% 52%, 0 100%, 0 0);
    z-index: 4;
  }
  &--5 {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 60%;
    background-color: #ffffff;
    opacity: 0.1;
    clip-path: polygon(81% 50%, 100% 100%, 100% 0);
    z-index: 5;
  }
  &--6 {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 75%;
    opacity: 0.1;
    background-color: #ffffff;
    clip-path: polygon(81% 50%, 100% 100%, 100% 0);
    z-index: 6;
  }
  &--7 {
    position: absolute;
  }
}
