.movie {
  background-image: url('../../../images/movie.png');
  background-size: cover;
  .movie__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    padding: 73px 0 200px 0px;
    h2 {
      color: white;
      font-size: 28px;
      font-family: 'Lato', sans-serif;
      font-style: italic;
    }
    .borders {
      width: 42px;
      height: 0;
      border: 1px solid white;
      margin: 20px 0 35px 0;
    }
  }
}
