.bg__movie {
  position: relative;
  background-color: #308e85;
  width: 100%;
  &--1 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 26%, 100% 16%, 100% 100%, 0% 100%);
    background-color: #2284b0;
    opacity: 0.52;
    top: -12%;
  }
  &--2 {
    width: 100%;
    position: absolute;
    height: 100%;
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
    background-color: #2284b0;
    opacity: 0.6;
  }
  &--3 {
    width: 100%;
    position: absolute;
    height: 50%;
    top: 50%;
    background-color: #2284b0;
    opacity: 0.6;
  }
  &--4 {
    .movie {
      position: relative;
      &__title {
        font-size: 28px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        h3 {
          letter-spacing: 2px;
          position: relative;
          display: inline-block;
          padding-bottom: 23.5px;
          margin-bottom: 33.5px;
          &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            display: inline-block;
            width: 42px;
            margin-left: -21px;
            border-bottom: 1px solid white;
          }
        }
      }
      &__img {
        width: 67%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        iframe {
          width: 100%;
        }
      }
      @media screen and (max-width: 780px) {
        padding: 20px 0px;
        &__img {
          width: 100%;
        }
      }
      @media screen and (max-width: 480px) {
        &__img {
          iframe {
            height: 200px;
          }
        }
      }
    }
  }
}
