.event {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e8864;
  &__title {
    h3 {
      letter-spacing: 2px;
      padding-bottom: 60px;
      font-size: 28px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-style: italic;
      position: relative;
      display: inline-block;
      padding-bottom: 23.5px;
      margin-bottom: 33.5px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        display: inline-block;
        width: 42px;
        margin-left: -21px;
        border-bottom: 1px solid white;
      }
    }
    p {
      line-height: 22px;
      font-size: 14px;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 600;
      text-align: justify;
    }
    padding-bottom: 32px;
    text-align: center;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    &__item {
      background-color: #cfe6de;
      border: 1px solid white;
      font-family: 'Noto Sans', sans-serif;
      display: flex;
      width: 50%;
      @media screen and (max-width: 780px) {
        font-size: 13px;
        width: 100%;
      }
      .title {
        flex: 1;
        line-height: 55px;
        text-align: center;
        color: #1d8864;
        font-weight: bold;
        border-right: 1px solid white;
      }
      .content {
        flex: 5;
        padding: 17px 26.5px;
        color: black;
        font-weight: 600;
        font-size: 14px;
        @media screen and (max-width: 780px) {
          font-size: 13px;
        }
      }
      &:last-child {
        width: 100%;
        .title {
          flex: 1;
        }
        .content {
          flex: 12;
        }
        @media screen and (max-width: 780px) {
          .title {
            flex: 1;
          }
          .content {
            flex: 5;
          }
        }
      }
    }
  }
}
