.bg__event {
  position: relative;
  background-color: #00708d;
  width: 100%;
  &--1 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 33%, 100% 15%, 100% 100%, 0% 100%);
    opacity: 0.82;
    background-image: linear-gradient(to bottom, rgba(30, 136, 100, 0.5) 3%, #1e8864);
    top: -22%;
    @media screen and (max-width: 780px) {
      clip-path: polygon(0 25%, 100% 14%, 100% 100%, 0% 100%);
    }
  }
  &--2 {
    width: 100%;
    position: absolute;
    height: 100%;
    clip-path: polygon(0 0%, 100% 24%, 100% 100%, 0% 100%);
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(30, 136, 100, 0.5) 3%, #1e8864);
    top: -10%;
    @media screen and (max-width: 780px) {
      clip-path: polygon(0 6%, 100% 12%, 100% 100%, 0% 100%);
    }
  }
  &--3 {
    width: 100%;
    position: absolute;
    height: 50%;
    top: 50%;
    background-color: #1e8864;
  }
  &--4 {
    position: relative;
    .event {
      position: relative;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &__title {
        h3 {
          letter-spacing: 2px;
          font-family: 'Lato', sans-serif;
          position: relative;
          display: inline-block;
          padding-bottom: 23.5px;
          margin-bottom: 33.5px;
          font-size: 28px;
          font-weight: bold;
          font-stretch: normal;
          font-style: italic;
          line-height: 1.21;
          letter-spacing: 2.8px;
          &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            display: inline-block;
            width: 42px;
            margin-left: -21px;
            border-bottom: 1px solid white;
          }
          @media screen and (max-width: 780px) {
            font-size: 23px;
            line-height: 1.22;
            letter-spacing: 2.3px;
          }
        }
        h4 {
          font-family: 'Noto Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: 1.1px;
          margin-bottom: 26px;
          @media screen and (max-width: 780px) {
            font-size: 22px;
            line-height: 1.27;
            letter-spacing: 1.1px;
          }
        }
        p {
          font-family: 'Noto Sans', sans-serif;
          font-weight: 600;
          text-align: justify;
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: 0.7px;
          @media screen and (max-width: 780px) {
            font-size: 12px;
            line-height: 1.92;
            letter-spacing: 1.2px;
          }
        }
        padding-bottom: 32px;
        text-align: center;
      }
      &__box {
        display: flex;
        flex-wrap: wrap;
        &__table {
          @media screen and (max-width: 779px) {
            display: none;
          }
          border-collapse: collapse;
          width: 100%;
          table,
          th,
          td {
            background-color: #eaf2ef;
            border: 1.5px solid white;
            border-collapse: collapse;
            padding: 17px 0px;
            color: black;
            font-family: 'Noto Sans', sans-serif;
          }
          td {
            padding-left: 26px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.36;
            letter-spacing: 0.7px;
          }
          th {
            width: 104px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.38;
            letter-spacing: 0.8px;
            color: #1d8864;
          }
        }
        &__item {
          background-color: #cfe6de;
          border-top: 1px solid white;
          border-right: 1px solid white;
          font-family: 'Noto Sans', sans-serif;
          display: flex;
          width: 100%;
          font-size: 13px;
          @media screen and (min-width: 780px) {
            display: none;
          }
          .title {
            flex: 2;
            line-height: 55px;
            text-align: center;
            color: #1d8864;
            font-weight: bold;
            border-right: 1px solid white;
          }
          .content {
            flex: 5;
            padding: 17px 26.5px;
            color: black;
            font-weight: 600;
            font-size: 14px;
            @media screen and (max-width: 780px) {
              font-size: 13px;
              line-height: 1.62;
              letter-spacing: 0.65px;
            }
          }
          &:last-child {
            width: 100%;
            .title {
              flex: 2;
            }
            .content {
              flex: 14;
            }
            @media screen and (max-width: 780px) {
              .title {
                flex: 2;
              }
              .content {
                flex: 5;
              }
            }
          }
        }
      }
      .footer_box {
        margin-top: 27px;
        .item_box {
          display: flex;
          @media screen and(max-width: 780px) {
            display: block;
          }
          &--item {
            width: 50%;
            @media screen and (max-width: 780px) {
              width: 100%;
            }
            .content {
              height: 100%;
              padding: 22px 18px;
              background-color: #1d7255;
              &:first-child {
                border-top: 1px solid white;
                border-left: 1px solid white;
                border-bottom: 1px solid white;
              }
              &:last-child {
                border-top: 1px solid white;
                border-right: 1px solid white;
                border-bottom: 1px solid white;
                padding-left: 40px;
              }
              @media screen and (max-width: 780px) {
                &:first-child {
                  border-bottom: unset;
                  border-top: 1px solid white;
                  border-left: 1px solid white;
                  border-right: 1px solid white;
                }
                &:last-child {
                  border-left: 1px solid white;
                  border-right: 1px solid white;
                  border-bottom: 1px solid white;
                  border-top: unset;
                  padding: unset;
                  padding-top: 80px;

                }
              }
              p {
                span {
                  &:first-child {
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 1.21;
                    letter-spacing: 1.4px;
                    color: #1e8864;
                    padding: 2px 9px;
                    background-color: white;
                    @media screen and (max-width: 780px) {
                      display: block;
                      padding: 4px 13px;
                    }
                  }
                  &:last-child {
                    margin-left: 14px;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.1;
                    letter-spacing: 1px;
                    @media screen and (max-width: 780px) {
                      display: block;
                      margin: 13px 0px;
                    }
                  }
                }
                &:last-child {
                  margin-top: 11px;
                  font-family: 'Noto Sans', sans-serif;
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 1.57;
                  letter-spacing: 0.7px;
                }
              }
            }
          }
          &--center {
            position: relative;
            background: #1d7255;
            &::before {
              content: '';
              height: 50%;
              top: 0;
              left: 0;
              width: 20px;
              position: absolute;
              background-color: #1e8863;
              z-index: 1;
              transform: skew(20deg, 0);
              border-left: 1px solid white;
              border-right: 1px solid white;
            }
            &::after {
              content: '';
              height: 50%;
              bottom: 0;
              left: 0;
              width: 20px;
              position: absolute;
              background-color: #1e8863;
              z-index: 1;
              transform: skew(-20deg, 0);
              border-left: 1px solid white;
              border-right: 1px solid white;
            }
            @media screen and (max-width: 780px) {
              width: 100%;
              &::before {
                position: absolute;
                content: '';
                width: 50%;
                height: 20px;
                background: #1e8863;
                border: unset;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                top: 1em;
                z-index: 1;
                right: 50%;
                transform: skew(0, 10deg);
              }
              &::after {
                border: unset;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                position: absolute;
                content: '';
                width: 50%;
                height: 20px;
                background: #1e8863;
                top: 1em;
                z-index: 1;
                left: 50%;
                transform: skew(0, -10deg);
              }
            }
          }
        }
      }
    }
  }
}
