.mobiebo {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #2269b0;
  &__box {
    height: 62px;
    display: inline-flex;
    align-items: center;
    img {
      height: 100%;
      margin: 0px 15px;
    }
    span {
      font-family: "Noto Sans", sans-serif;
      font-size: 17px;
      font-weight: bold;
    }
    @media screen and (max-width: 780px) {
      display: inline-block;
      img {
        margin: 15px 0px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
  }
  &__button {
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    p {
      display: inline-block;
      padding: 13px 55px;
      background-color: #4382c1;
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
      @media screen and (max-width: 780px) {
        padding: 15px 17px;
        font-size: 11px;
      }
    }
  }
}
