@mixin breakpointminmax($sizemin, $sizemax) {
  @media (min-width: $sizemin + px) and (max-width: $sizemax + px) {
    @content;
  }
}
.concept {
  background-size: cover;
  &__title {
    text-align: center;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      width: calc(50% - 30px);
      @media screen and (max-width:780px){
        width: 100% ;
      }
      &-box {
        align-items: center;
        justify-content: center;
        background-color: #01637c;
        padding: 0 52px;
        height: 114px;
        margin-top: 53px;
        @include breakpointminmax(320, 574) {
          padding: 0 15px;
        }
      }
    }
  }
}
