@mixin breakpointminmax($sizemin, $sizemax) {
  @media (min-width: $sizemin + px) and (max-width: $sizemax + px) {
    @content;
  }
}
.bg-concept {
  position: relative;
  &__1 {
    position: absolute;
    width: 60%;
    height: 490px;
    background-image: linear-gradient(to right, #3de8ba, #3de8ba);
    opacity: 0.3;
    clip-path: polygon(0 0, 15% 0, 31% 29%, 7% 89%, 0 89%);
    top: 0;
    left: 0;
    opacity: 0.05;
  }
  &__2 {
    position: absolute;
    width: 170px;
    height: 530px;
    background-image: linear-gradient(to right, #3de8ba, #3de8ba);
    opacity: 0.3;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    opacity: 0.05;
    top: 35%;
    left: 0;
  }
  &__3 {
    position: absolute;
    background-image: linear-gradient(to right, #3de8ba, #3de8ba);
    clip-path: polygon(100% 0, 0 45%, 100% 100%);
    opacity: 0.05;
    top: 4%;
    right: 0;
    width: 250px;
    height: 585px;
    top: 45%;

  }
  &__4 {
    position: absolute;
    background-image: linear-gradient(to right, #3de8ba, #3de8ba);
    clip-path: polygon(100% 0, 0 45%, 100% 100%);
    opacity: 0.05;
    top: 4%;
    right: 0;
    width: 250px;
    height: 585px;
  }
  @media screen and (max-width: 780px) {
    &__1,
    &__2,
    &__3,
    &__4 {
      display: none;
    }
  }
  .concept {
    background-size: cover;
    &__title {
      text-align: center;
      width: 642px;
      margin: 0 auto;
      @media screen and (max-width: 780px) {
        width: 100%;
        p {
          margin-top: 27px;
        }
      }
    }
    &__description {
      @media screen and (max-width: 780px) {
        text-align: left;
      }
    }
    &__box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &-text {
        @media screen and (max-width: 780px) {
          font-size: 14px;
        }
      }
      .item {
        width: calc(50% - 30px);
        @media screen and (max-width: 780px) {
          width: 100%;
          p {
            font-family: 'Noto Sans', sans-serif;
            line-height: 23px;
            font-size: 12px;
            font-weight: 600;
          }
        }
        &-box {
          align-items: center;
          justify-content: center;
          background-color: #01637c;
          height: 114px;
          margin-top: 85px;
          position: relative;
          @media screen and (max-width: 780px) {
            margin-top: 31px;
          }
        }
      }
    }
  }
}
