.header {
  background-image: url(../../images/bg_city.png);
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .header-position-img {
    position: absolute;
    right: 20px;
    top: 100px;
  }
  .nav-top {
    background-color: #222222;

    .nav-top__wrap {
      padding: 13px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-top__logo {
        img {
          margin: 0;
        }
      }
      .nav-top__list {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          margin: 0 35px;
          a {
            font-family: 'Lato', sans-serif;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
      }
      .entry {
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        background-image: linear-gradient(to right, #ffdf57, #ff5a5a);
        padding: 8px 35px;
        border-radius: 5px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  .header-watch-new {
    display: flex;
    background-color: #097996;
    align-items: center;
    padding: 15px;
    margin: -2px auto;
    width: 83%;
    p {
      margin: 0 25px;
      color: white;
      &:nth-child(1) {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
      }
      &:nth-child(2) {
      }
      font-family: 'Lato', sans-serif;
      font-size: 14px;
    }
    a {
      text-decoration: underline;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: white;
    }

    .borders {
      height: 15px;
      width: 0;
      border: 0.5px solid white;
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 140px 0;
    height: 55%;
    a {
      text-align: left;
      background-image: linear-gradient(to right, #ffeb34, #3de8ba);
      -webkit-transform: skew(160deg);
      -moz-transform: skew(160deg);
      -o-transform: skew(160deg);
      padding: 6px 67px;
      font-size: 18px;
      font-family: 'Noto Sans JP', sans-serif;
    }
    img {
      margin-left: 55px;
    }
    .header-date {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        color: white;
        font-size: 18px;
        &:nth-child(1) {
          border: 1px solid white;
          padding: 0 10px;
        }
        &:nth-child(2) {
          margin-left: 50px;
          font-size: 30px;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
